
@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);

body {
    font-size: 12pt;
    font-family: 'Quattrocento', serif;
    background-color: #7b7f80;
    color: #080808;
}

#about, 
#control
{
    background-color: #c1c1bf;
}

#bibliographies, 
#asterism,
#asterism-rule,
ul.browse
{
    background-color: #FFFFFF;
}

input.search, 
ul.browse,
.theme
{
    color: #913633;
    border-color: #913633;
}

header.browse {
    color: #913633;
}
