
@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);

body {
    font-size: 12pt;
    font-family: 'Quattrocento', serif;
    background-color: #7b7f80;
    color: #080808;
}

#about, 
#control,
#footer
{
    background-color: #c1c1bf;
}

.bibliographies,
.bibliography,
#asterism,
ul.browse
{
    background-color: #FFFFFF;
}

input.search, 
ul.browse,
.theme
{
    color: #913633;
    border-color: #913633;
}

header.browse {
    color: #913633;
}

#footer {
    color: #913633;
    border-top-color: #913633;
}

/*.browsed { This doesn't work in Chrome */
span[class~="browsed"] {
    border-style: dashed;
    border-width: 1px;
}

span[class~="yellow"]   { background-color: #FAFAD2; }
span[class~="pink"]  { background-color: #FFF0F5; }
span[class~="purple"] { background-color: #CCCCFF; }
