

@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);

body {
   font-size: 15px;
   font-family: 'Cantarell';
   line-height: 25.875px;
   color: rgba(255, 252, 252, 1);
   background-color: rgba(68, 68, 68, 1);
}

h1 {
    /*font-family: "Klint LT W01 Regular";*/
    font-family: 'Cantarell';
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0px;
    color: rgba(242, 201, 53, 1);
}

h2 {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    font-size: 15px;
    /*font-family: "Klint LT W01 Regular";*/
    font-family: 'Cantarell';
    margin-top: 45px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    /*width: 786px;*/
}


div {
   color: rgba(255, 252, 252, 1);
}

p {
    margin-bottom: 25px;
    width: 782px;
    text-align: left;
    /*font-family: mf-neue-helvetica-arabic-218485;*/
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    padding: 0px 10px;
}

a {
   color: rgba(156, 199, 237, 1);
}

a a {
   text-decoration: none;
}

#asterism,
#asterism-rule {
    visibility: hidden;
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
}
