

label.theme {
    font-weight: bold;
}

#search-input {
    text-align: left;
    padding-left: 1em;
    border-style: solid;
    border-width: 2px;
}

header.browse {
    text-align: center;
    font-weight: bold;
}

#search-form, 
input.search 
{
    text-align: center;
    border-radius: 15px;
    -moz-border-radius: 15px; 
	-webkit-border-radius:15px; 
}

#theme-form {
    text-align: center;
}

li.browse:hover {
    text-decoration: underline;
}

#control {
    border-right-width: 1px;
    border-right-style: solid;
}

#control > * {
    margin-top: 2em;
}

ul.browse {
    border-style: solid;
    border-width: 2px;    
}

#theme-form {
    margin-top: 4.5em;
}

#browse,
#theme-form,
#search-form
{
    margin-left: auto;
    margin-right: auto;
}

li.browse {
    margin-left: 0.5em;
    margin-top: 0.5em;
}
li.browse:last-child {
    margin-bottom: 0.5em;
}

/* WIDE */
@media (min-width: 1000px) {

    #theme-form     { left: 0;   top: 0; width: 66%; }
    #search-form    { left: 0;   top: 0; width: 66%; }
    #browse         { left: 50%; top: 0; width: 66%; }

}

/* NARROW */
@media (max-width: 1000px) {
    #control > * { 
        position: absolute;
        margin-top: 1em;
        overflow-y: scroll;
    }

    #theme-form     { left: 0;   top: 0;    width: 40%; }
    #search-form    { left: 0;   top: 2em;  width: 40%; }
    #browse         { left: 50%; top: 0;    width: 40%; }
    
    #control {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    
    ul.browse {
        text-align: center;
        list-style-type: none;
    }
    li.browse {
        display: inline;
        margin-right: auto;
        margin-left: auto;
        padding: 1em;
    }
}
