
/*@import url(  'reset.css') all;*/
@import url( 'layout.css') all;
@import url( 'inline.css') all;
@import url('control.css') all;

h1 {
    margin-top: 3em;
    text-align: center;
    font-variant: small-caps;
    text-align: center;
}

h2 {
    margin-top: 1em;
    text-align: center;
    font-variant: small-caps;
}

.bibliographies { 
    overflow-x: hidden;
   width: 783px;
}


.bibliographies > * {
    margin-left: 2em;
    margin-right: 2em;
    display: block;
}
.bibliographies div {
    margin-bottom: 1em;
    text-align: justify;
}

/*
#bibliographies {
    font-size: 12pt;
    line-height: 20px;
}
*/

#asterism {
    text-align: center;
    margin-right: auto; 
    margin-bottom: 0; 
    margin-left: auto;
}

#asterism-rule {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0em;
    border-top-style: inset;
    border-top-width: 2px;
}

#footer {
    text-align: center;
    font-size: 11pt;
    padding-top: 1em;
    border-top-style: solid;
    border-top-width: 1px;
}
