
@import url(http://fonts.googleapis.com/css?family=Gafata);

body {
    font-family: 'Gafata', serif;
    background-color: #7b7f80;
    color: #FFFFFF;
}

menu.about, menu.search {
    background-color: #7b7f80;
}

section.bibliographies {
    background-color: #000000;
}

input.search {
    border-color: #913633;
}

section.browse header {
    color: #913633;
}

ul.browse {
    border-color: #913633;
    background-color: #FFFFFF;
}

form.theme {
    color: #913633;
}

div.asterism {
    background-color: #000000;
}

li.browse {
    color: #000000;
}
