
//
// OPENBIBL OVERRIDES TO VARIABLES IMPORTED FROM:
// @import "../jasny-bootstrap-3.1.0/less/navmenu.less"; 
//
// ------------------------------------------------------

//== Navmenu

// Basics of a navmenu
@navmenu-width:			              300px;
@navmenu-margin-vertical:		      @obp-navmenu-margin-vertical;
@navmenu-default-color:			      @obp-navmenu-default-color;
@navmenu-default-bg:			      @obp-navmenu-default-bg;
@navmenu-default-border:			  @obp-navmenu-default-border;

// Navmenu links
@navmenu-default-link-color:            @obp-navmenu-default-link-color;
@navmenu-default-link-hover-color:      @obp-navmenu-default-link-hover-color;
@navmenu-default-link-hover-bg:			@obp-navmenu-default-link-hover-bg;
@navmenu-default-link-active-color:		@obp-navmenu-default-link-active-color;
@navmenu-default-link-active-bg:		@obp-navmenu-default-link-active-bg;
@navmenu-default-link-disabled-color:	@obp-navmenu-default-link-disabled-color;
@navmenu-default-link-disabled-bg:		@obp-navmenu-default-link-disabled-bg;

// Navmenu brand label
@navmenu-default-brand-color:			@obp-navmenu-default-brand-color;
@navmenu-default-brand-hover-color:		@obp-navmenu-default-brand-hover-color;
@navmenu-default-brand-hover-bg:		@obp-navmenu-default-brand-hover-bg;

// Inverted navmenu
//
// Reset inverted navmenu basics
@navmenu-inverse-color:			        @obp-navmenu-inverse-color;
@navmenu-inverse-bg:			        @obp-navmenu-inverse-bg;
@navmenu-inverse-border:			    @obp-navmenu-inverse-border;

// Inverted navmenu links
@navmenu-inverse-link-color:			@obp-navmenu-inverse-link-color;
@navmenu-inverse-link-hover-color:		@obp-navmenu-inverse-link-hover-color;
@navmenu-inverse-link-hover-bg:			@obp-navmenu-inverse-link-hover-bg;
@navmenu-inverse-link-active-color:		@obp-navmenu-inverse-link-active-color;
@navmenu-inverse-link-active-bg:		@obp-navmenu-inverse-link-active-bg;
@navmenu-inverse-link-disabled-color:	@obp-navmenu-inverse-link-disabled-color;
@navmenu-inverse-link-disabled-bg:		@obp-navmenu-inverse-link-disabled-bg;

// Inverted navmenu brand label
@navmenu-inverse-brand-color:			@obp-navmenu-inverse-brand-color;
@navmenu-inverse-brand-hover-color:		@obp-navmenu-inverse-brand-hover-color;
@navmenu-inverse-brand-hover-bg:		@obp-navmenu-inverse-brand-hover-bg;

// Inverted navmenu search
// Normal navmenu needs no special styles or vars
@navmenu-inverse-search-bg:			    @obp-navmenu-inverse-search-bg;
@navmenu-inverse-search-bg-focus:		@obp-navmenu-inverse-search-bg-focus;
@navmenu-inverse-search-border:			@obp-navmenu-inverse-search-border;
@navmenu-inverse-search-placeholder-color:	@obp-navmenu-inverse-search-placeholder-color;
