
// late settings and overrides

/* add space to the top of div.container for the navbar */
.container {
    padding-top:        @navbar-height;
}

/* override "display: inline" */
.bibliographies > *,
p, h2
{
    display:            block;
    margin-left:        2em;
    margin-right:       2em;
}

/* theme-independent styling for the footer */
#footer {
    border-top-style:   solid;
    border-top-width:   1px;
    font-size:          11pt;
    margin-left:        2em;
    margin-right:       2em;
    padding-top:        1em;
    padding-bottom:     0.5em;
    text-align:         center;
}

/* re-set this reset */
i {
    font-style: italic;
}

/* override bootstrap button location */
.navbar-toggle {
  float:                left;
  margin-left:          @navbar-padding-horizontal;
}

/* no border on the navmenu */
.navmenu.navmenu-default {
    border-right-width:   0;
}

/* space for the collapsing navmenu */
@media (min-width: @screen-md) {
  body {
    padding-left:       @navmenu-width;
  }
}

// override Boostrap default width on form borders
.navbar-form {
  border-top: 0;
  border-bottom: 0;
}

.obp-search-form {
    position: relative;
}
.obp-search-form  span {
    position: absolute;
    right: 1em;
    padding: 4px 3px 0 0;
    pointer-events: none;
}

/* enable vertical scrolling for sidebar menu items */
#sidebar-menu {
  overflow-y: scroll;
}

.navmenu {
    overflow-y: scroll;
    margin-top:        @navbar-height;
}
